download-regulation-reports.csv
downloaded_files.csv
downloaded_files
concatenated_projects
summarized_projects
nedlastede_file*
OLD
OLD_*
OLD2_*
.venv
.env
.DS_Store
files/*
!files/.gitkeep
__pycache__
/.idea
.python-version
.devcontainer
nedlastede_filer.xlsx
mapping.csv
error_log.txt
test*py
file_dates.json
file_metadata.json
sequence_number.json
DATA_BACKUP_2024-10-10/OLD_file_dates.json
DATA_BACKUP*
Downloaded overview.xlsx
OLD2_project_mapping.csv
project_mapping.csv
summary_mapping.csv
asst_2_sourcemap.csv
asst_sourcemap.csv
*.log
