download-regulation-reports.csv
downloaded_files.csv
downloaded_files
nedlastede_file*
.venv
.env
.DS_Store
files/*
!files/.gitkeep
__pycache__
/.idea
.python-version
.devcontainer
nedlastede_filer.xlsx
mapping.csv
error_log.txt
test*py
file_dates.json
file_metadata.json
sequence_number.json
DATA_BACKUP_2024-10-10/OLD_file_dates.json
